body {
    background-image: url("/assets/img/Paysage.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

h4{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.panneau{
    grid-area: 1 / 2 / 6 / 4;
    background-image: url("/assets/img/panneau1.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.img { 
    grid-area: 2 / 2 / 4 / 4;
    background-image: url("");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.playground { 
    grid-area: 4 / 2 / 5 / 4; 
    
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
}

.letter { 
    grid-area: 4 / 2 / 5 / 3; 
    text-align: center;
    background-image: url("/assets/img/panneau2.webp");
    background-repeat: no-repeat;
}

.word { 
    grid-area: 4 / 3 / 5 / 4;
    text-align: center;
    background-image: url("/assets/img/panneau2.webp");
    background-repeat: no-repeat;
}

.img {
    text-align: center;
}

.input {
    border-radius: 1px;
    border-color: black;
}

footer {
    background-color: black;
    color: white;
    height: 5%;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin-top: 1.5vh;
    display: inline;
    padding-right: 5rem;
    padding-left: 5rem;
}

ul {
    list-style-type: none;
    margin-top: 1.5vh;
    display: inline;
    padding-right: 5rem;
    padding-left: 5rem;
}

li{
    display: inline;
    text-align: center;   
}


